div.contenido{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    max-width: 85vw;
}

button.btn {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-inline: 5px;
    padding: 8px 15px;
}

textarea {
    height: 150px;
}

.img {
    align-items: center;
    background-color: var(--img-example-bcg);
    border: 2px solid;
    display: flex;
    height: 165px;
    justify-content: center;
    width: 200px;
}

.div-form {
    flex: 1;
}

.div-form-2 {
    width: 100%;
}

.row {
    display: block;
    margin-bottom: 8px;
}

.row label {
    font-weight: bold;
    margin-right: 10px;
}

.row input, .row textarea {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    resize: vertical;
    width: 100%;
}

.double-row, .triple-row {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.double-row .row {
    width: 48%;
}

.triple-row .row{
    width: 33%;
}

.checkbox {
    align-items: center;
    display: flex;
    height: 100%;
}

.checkbox  input[type=checkbox]{
    width: 30px;
}

.acciones {
    display: flex;
    justify-content: end;
}

.btn.cancelar{
    background-color: var(--btn-error-color);
}


.btn.guardar{
    background-color: var(--btn-correct-color);
}
